.wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.mdc-card__actions {
  gap: 8px;
}

.mat-mdc-card-title, .mat-mdc-card-subtitle {
  padding: 16px;
  padding-bottom: 0;
}
